<%- include('partials/header') -%>



  <nav class="navbar navbar-expand-lg navbar-dark sticky-top customNav">
    <a class="navbar-brand">Good Dimes</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/transactions">Transactions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Sign Out</a>
        </li>
      </ul>
    </div>
  </nav>



  <div class="container">

    <!-- Adding button to make transaction entry a popout window -->
    <!-- <button id="add-transaction-button">Add Transaction</button>
    <div id="add-transaction-form" class="hidden"> -->

    <form class="formBox" action="/transactions/createTransaction" method='POST'>
      <div class="form-group">
        <label for="transactionItem">Transaction Item</label>
        <input class="formInput" type="text" placeholder="Enter Description" name='transactionItem'>
      </div>
      <div class="form-group">
        <label for="amountItem">Transaction Total</label>
        <input class="formInput" type="number" step="any" placeholder="Enter Amount" name='amountItem'>
      </div>
      <!-- radio buttons to select whether pmt split equally -->
      <div class="radioLine form-group">
        <label>Split Transaction</label>

        <div class="radioLine form-group custom-control custom-radio custom-control-inline">
          <input type="radio" name="splitItem" value="equally" id="equallyItem">
          <label id="radioLabel" for="equallyItem">Equally</label>
          <input type="radio" name="splitItem" value="other" id="otherAmountItem">
          <label id="radioLabel" for="otherAmountItem">Other</label>
        </div>
      </div>
      <!---->
      <!-- input form to enter custom amount if split not equally -->
      <div id="extra-input-form" class="hidden form-group">
        <label for="userAmountItem">Your Portion</label>
        <input class="formInput" type="number" step="any" placeholder="Enter Your Dollar Amount" name='userAmountItem'>
      </div>
      <!---->

      <div class="form-group">
        <label for="payerItem">Who Paid?</label>
        <select name='payerItem'>
          <option value="user">Me</option>
          <option value="friend">My Friend</option>
        </select>
      </div>
      <input class="btn" type="submit">
    </form>

    <!-- amountSum: totalAmount, 
    userAmountSum: totalUserAmount,
    friendAmountSum: totalFriendAmount,
    userSpentSum: totalUserSpent,
    friendSpentSum: totalFriendSpent}) -->
    <div class="summary">
      <p>You and your friend have spent a total of $<%= amountSum %>. Your potion total is $<%= userAmountSum %> while
            your friend's portion is $<%= friendAmountSum %>. You spent $<%= userSpentSum %> which means your friend
                owes you $<%= userSpentSum - userAmountSum %>!</p>
    </div>




    <div class="table-responsive">
      <table class="table table-striped" id="tableBox">
        <thead>
          <tr>
            <th>Description</th>
            <th>Amount</th>
            <th>Your Portion</th>
            <th>Friend's Portion</th>
            <th>Who Paid?</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <% transactions.forEach(function(el) { %>
            <tr class='transactionItem' data-id='<%=el._id%>'>
              <td>
                <%= el.transaction %>
              </td>
              <td>
                $<%= el.amount.toFixed(2) %>
              </td>
              <td>
                $<%= el.userPortion.toFixed(2) %>
              </td>
              <td>
                $<%= el.friendPortion.toFixed(2) %>
              </td>
              <td>
                <%= el.payer==="user" ? "Me" : "My Friend" %>
              </td>
              <td class='del'><i class="fa-sharp fa-solid fa-trash"></i> </td>

            </tr>
            <% }) %>
              <tr class="totalRow">
                <td>Total</td>
                <td>$<%= amountSum.toFixed(2) %>
                </td>
                <td>$<%= userAmountSum.toFixed(2) %>
                </td>
                <td>$<%= friendAmountSum.toFixed(2) %>
                </td>
                <td></td>
                <td></td>
              </tr>
        </tbody>
      </table>
    </div>






  </div>

  <%- include('partials/footer') -%>